<section class="page">
    <section class="header clearfix">
        <div class="logo">
            <img src="images/nyulaw-logo.png">
        </div>        
        <div class="week">
            Monday
        </div>
        <div class="date">
            November 18, 2013
        </div>
    </section>
    <section class="content_left">
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Carr Center for Reproductive Justice Conference: Reproductive Rights Law:
                Where is the Woman?
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
    </section>
    <section class="content_right">
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
            <article class="event">
                <div class="title">
                    Reading Week-Singapore Semester One 2013
                </div>
                <div class="info">
                    <span class="time">
                        12:00A.M.-5:00P.M.
                    </span>
                    |
                    <span class="location">
                        NUS Campus
                    </span>
                </div>
            </article>
    </section>
</section>




<section class="page">
    <section class="header clearfix">
        <div class="logo">
            <img src="images/nyulaw-logo.png">
        </div>        
        <div class="week">
            Looking Ahead
        </div>

    </section>
    <section class="content_left">
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="date">Tuesday</span>                
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Carr Center for Reproductive Justice Conference: Reproductive Rights Law:
                Where is the Woman?
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
    </section>
    <section class="content_right">
        <article class="event">
            <div class="title">
                Reading Week-Singapore Semester One 2013
            </div>
            <div class="info">
                <span class="time">
                    12:00A.M.-5:00P.M.
                </span>
                |
                <span class="location">
                    NUS Campus
                </span>
            </div>
        </article>
            <article class="event">
                <div class="title">
                    Reading Week-Singapore Semester One 2013
                </div>
                <div class="info">
                    <span class="time">
                        12:00A.M.-5:00P.M.
                    </span>
                    |
                    <span class="location">
                        NUS Campus
                    </span>
                </div>
            </article>
    </section>
</section>

